/* Highlight styles */
.highlight-orange {
  color: orange;
}

.highlight-red {
  color: red;
}

.highlight-green {
  color: green;
}

.highlight-blue {
  color: blue;
}

.underline {
  text-decoration: underline;
}

body {
  padding: 20px;
}
